<div class="wrapper">
  <form novalidate class="feedback-form">
    <div class="title">Feedback Form</div>
    <div class="inputWrapper">
      <input class="input" name="name" type="text" placeholder="name" />
    </div>
    <div class="inputWrapper">
      <input class="input" name="email" type="email" placeholder="email" />
    </div>
    <div class="inputWrapper">
      <input class="input" name="phone" type="phone" placeholder="phone" />
    </div>
    <div class="inputWrapper">
      <textarea class="input" name="message" placeholder="message"></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</div>

<script src="https://unpkg.com/imask"></script>