// Global 
$main-bg-color: blue;

//Feedback Form Colors
$feedback-main-bg-color: #F67E7D;
$feedback-placeholder-font-color: #fff;

$feedback-input-bg-color: #74546A;
$feedback-input-font-color: #fff;

$feedback-error-font-color: #fa2929;
$feedback-error-bg-color: #fff;

$submit-bg-color: #0B032D;
$submit-font-color: #fff;