// Global 
$main-bg-color: #F7F9F9;

//Feedback Form Colors
$feedback-main-bg-color: #78D5D7;
$feedback-placeholder-font-color: rgb(0, 0, 0);

$feedback-input-bg-color: #ffffff;
$feedback-input-font-color: rgb(0, 0, 0);

$feedback-error-font-color: #ff0000;

$submit-bg-color: #2081C3;
$submit-font-color: #fff;