<div class="modal-wrapper">
  <div class="modal-window">
    <p class="modal-text">ТекстDo ex minim cupidatat minim laborum enim pariatur non. Sit velit cupidatat cupidatat
      laboris enim culpa anim adipisicing elit voluptate. Ad do nulla sint ad veniam nisi. Est cillum mollit irure Lorem
      duis cillum amet officia in. Qui fugiat labore magna officia ad officia velit cillum.Sunt ullamco consectetur
      veniam enim quis tempor dolore proident pariatur proident eu dolor. Eu adipisicing dolor eu nulla enim sint duis
      occaecat veniam labore. Occaecat pariatur do tempor reprehenderit tempor irure esse reprehenderit ex
      minim.Consequat occaecat incididunt cillum nostrud laborum minim in laborum in in laborum consectetur magna. Culpa
    </p>
    <button class="modal-close">Ok</button>
  </div>
  <div class="cover-div"></div>
</div>