<div class="modal-wrapper">
  <div class="modal-window">
    <p class="modal-text">ТекстDo ex minim cupidatat minim laborum enim pariatur non. Sit velit cupidatat cupidatat
      laboris enim culpa anim adipisicing elit voluptate. Ad do nulla sint ad veniam nisi. Est cillum mollit irure Lorem
      duis cillum amet officia in. Qui fugiat labore magna officia ad officia velit cillum.Sunt ullamco consectetur
      veniam enim quis tempor dolore proident pariatur proident eu dolor. Eu adipisicing dolor eu nulla enim sint duis
      occaecat veniam labore. Occaecat pariatur do tempor reprehenderit tempor irure esse reprehenderit ex
      minim.Consequat occaecat incididunt cillum nostrud laborum minim in laborum in in laborum consectetur magna. Culpa
      sunt est consequat do sit labore fugiat ullamco in cupidatat elit ad fugiat. Est Lorem tempor excepteur officia do
      magna. Mollit Lorem occaecat qui laboris fugiat anim laboris nostrud irure est cupidatat. Deserunt aliqua irure id
      quis Lorem eiusmod occaecat. Reprehenderit qui enim velit ut nisi Lorem laborum pariatur incididunt ea id.Veniam
      laborum ad elit qui deserunt. Exercitation aliqua laborum est tempor aute veniam. Qui magna laboris non elit
      laboris anim amet laboris exercitation qui elit aliquip cillum. Reprehenderit quis ut exercitation dolore ad
      nostrud laborum aliquip dolore minim. Mollit non do minim magna aliqua. Minim eiusmod sit laboris consectetur
      ipsum ipsum laborum in adipisicing velit tempor eiusmod cupidatat.Duis mollit eu consectetur nostrud labore sunt
      esse. Cupidatat cillum elit anim quis deserunt labore ipsum do adipisicing. Elit velit non pariatur quis pariatur
      ea veniam adipisicing esse excepteur Lorem cupidatat officia consectetur. Officia tempor qui commodo et qui
      laborum laborum magna. Eiusmod id dolor dolore veniam aute excepteur aliquip do dolor id. Est in exercitation
      laborum labore consectetur dolor minim velit sunt sit elit incididunt. Do sunt excepteur veniam sit.</p>
    <button class="modal-close">Ok</button>
  </div>
  <div class="cover-div"></div>
</div>